body{
    margin: 0px;
    background-color: orange;
    padding-left: 42.5%;
    padding-top: 15%;
}
.container{
    background-color: gray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 30%;
    height: auto;
    border: 2px solid black;
}
header{
    font-size: 24px;
    text-align: center;
    margin-top: 2%;;
}
.screen{
    background-color: wheat;
    width: 20%;
    margin-top: 5%;
    display: flex;
    margin-left: 10%;
    padding-right: 2%;
    border-radius: 12px;
    padding-left: 58%;
    margin-top: 2%;
    margin-bottom: 2%;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    color: black;
}
.keys{
    display: flex;
    flex-direction: row;
    color: white;
    padding-top: 1%;
    padding-bottom: 1%;
    margin: 1%;
    height: 100%;
    justify-content: center;
}
#key{
    border: 2px solid wheat;
    background-color: orange;
    border-radius: 100%;
    width: 15%;
    height: auto;
    margin: 2%;
    color: black;
    text-align: center;
}
.rslt{
    border: 2px solid wheat;
    background-color: orange;
    border-radius: 20%;
    width: 33.5%;
    height: auto;
    margin: 2%;
    color: black;
    text-align: center;
}